__pycache__/
*.py[cod]
build/
*.egg-info/
*.egg
.tox/
.coverage
.coverage.*
.cache
.env
.venv
env/
venv/
.DS_Store
.mypy_cache/
.idea
.vscode
open-source/
cdk.out
deployment/global-s3-assets
deployment/regional-s3-assets